<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calisthenicslogger">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.calisthenicslogger.Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.calisthenicslogger.Activities.ExerciseListActivity" android:screenOrientation="portrait">
    </activity>
        <activity android:name="com.calisthenicslogger.Activities.NewExerciseActivity"  android:screenOrientation="portrait" android:noHistory="true">
        </activity>
        <activity android:name="com.calisthenicslogger.Activities.TrackActivity" android:launchMode="singleTop" android:screenOrientation="portrait"></activity>
        <activity android:name="com.calisthenicslogger.Activities.HistoryActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.calisthenicslogger.Activities.PersonalRecordsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.calisthenicslogger.Activities.LockerActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.calisthenicslogger.Activities.ChartActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.calisthenicslogger.Activities.CalendarActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.calisthenicslogger.Activities.AboutActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.calisthenicslogger.Activities.RestTimerActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme"></activity>
        <activity android:name="com.calisthenicslogger.Activities.StopwatchActivity" android:screenOrientation="portrait"
        android:theme="@style/AppTheme.PopupTheme"></activity>
        <activity android:name="com.calisthenicslogger.Activities.IsoTimerActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupTheme"></activity>
    </application>

</manifest>